.footer {
    padding-top: 57px;
    padding-bottom: 65px;
    background-color: #1a1a1a;
                                
    // Медиа запрос для планшета и выше
    @media (min-width: 768px) {
        padding-top: 72px;
        padding-bottom: 90px;
    }

    // Медиа запрос для десктопов 
    @media (min-width: 1200px) {
        padding-top: 90px;
        padding-bottom: 65px;
    }
}

.footer-content {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-bottom: 44px;
                                    
    // Медиа запрос для планшета и выше
    @media (min-width: 768px) {
        margin-bottom: 54px;
    }

    // Медиа запрос для десктопов 
    @media (min-width: 1200px) {
        flex-direction: row;
        margin-bottom: 23px;
    }
}

.footer-content-nav {
    margin-bottom: 26px;
    display: flex;
    flex-direction: column;
                                        
    // Медиа запрос для планшета и выше
    @media (min-width: 768px) {
        margin-bottom: 50px;
        flex-direction: row;
    }

    // Медиа запрос для десктопов 
    @media (min-width: 1200px) {
        margin-right: 30px;
    }
}

.footer-nav {
    margin-bottom: 25px;
    position: relative;
    text-align: center;
    text-decoration: none;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 2.5px;
    text-transform: uppercase;
    transition: 0.2s ease-in;

    &:last-child {
        margin-right: 0;
    }

    &:hover {
        color: rgba(255, 255, 255, 0.5);
    }
                                            
    // Медиа запрос для планшета и выше
    @media (min-width: 768px) {
        letter-spacing: 2.5px;
        margin-right: 40px;
        margin-bottom: 0;
    }

    // Медиа запрос для десктопов 
    @media (min-width: 1200px) {
        letter-spacing: 3.2px;
    }
}

.footer-content-social {

}

.footer-icon {
    display: inline-block;
    width: 48px;
    height: 48px;
    margin-right: 18px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.1);
    text-decoration: none;
    transition: 0.2s ease-in;
    &:last-child {
        margin-right: 0;
    }

    &:hover {
    background-color: rgba(255, 255, 255, 0.5)
    }
                                                
    // Медиа запрос для планшета и выше
    @media (min-width: 768px) {
        margin-right: 30px;
    }

    // Медиа запрос для десктопов 
    @media (min-width: 1200px) {

    }
}

.footer-icon img {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)
}


.copyright {
    width: 190px;
    margin: auto;
    text-align: center;
    font-size: 14px;
    font-weight: 500;
    color: rgba(255, 255, 255, 0.3);

    & span {
        font-weight: 700;
        letter-spacing: 1.4px;
    }
                                            
    // Медиа запрос для планшета и выше
    @media (min-width: 768px) {

    }

    // Медиа запрос для десктопов 
    @media (min-width: 1200px) {
        width: 100%;
    }
}