:root {
  --text: #000;
  --red: #ea736d;
  --blue: #039be5;
  --yellow: #fbdc4d;
}
* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
html,
body,
h1,
h2,
h3,
h4,
p,
ul {
  margin: 0;
  padding: 0;
  font-family: 'M PLUS 1p', sans-serif;
  font-weight: 400;
}
body.noscroll {
  overflow: hidden;
}
#overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 3;
  display: none;
}
#overlay.active {
  display: block;
}
a,
a:hover {
  text-decoration: none;
  display: inline-block;
  color: var(--text);
}
ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}
svg {
  max-width: 100%;
}
button,
input,
textarea {
  outline: none;
}
textarea {
  resize: none;
}
button {
  display: inline-block;
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
}
.container {
  width: 100%;
  max-width: 320px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
@media (min-width: 768px) {
  .container {
    max-width: 738px;
    padding: 0 24px;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
    padding: 0;
    margin-left: auto;
    margin-right: auto;
  }
}
.title-2 {
  font-size: 64px;
  font-weight: 800;
}
.title-3 {
  font-size: 40px;
  font-weight: 800;
}
.title-4 {
  font-size: 26px;
  font-weight: 700;
  line-height: 1.2;
}
.title-5 {
  font-size: 26px;
  font-weight: 800;
  line-height: 1.2;
}
.bottom-line {
  position: relative;
  display: inline-block;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  z-index: 2;
}
.bottom-line:after {
  content: "";
  height: 10px;
  position: absolute;
  background-color: var(--yellow);
  left: -5px;
  right: -5px;
  bottom: 10px;
  z-index: -1;
}
.btn {
  display: inline-block;
  background-color: var(--yellow);
  height: 64px;
  padding-left: 40px;
  padding-right: 40px;
  -webkit-border-radius: 30px;
     -moz-border-radius: 30px;
          border-radius: 30px;
  border: 4px solid var(--yellow);
  font-size: 22px;
  font-weight: 700;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  -moz-transition: 0.5s;
  transition: 0.5s;
}
.btn:hover {
  background-color: #ffd200;
  border-color: #ffd200;
}
.btn:active {
  background-color: #e1bc10;
  border-color: #e1bc10;
}
.btn_light {
  padding-left: 40px;
  padding-right: 40px;
  height: 64px;
  color: #464646;
  background-color: #fff;
  border-color: #474747;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  -moz-transition: 0.5s;
  transition: 0.5s;
}
.btn_light:hover {
  background-color: #fff;
  border-color: #797979;
  color: #797979;
}
.btn_light:active {
  background-color: #fff;
  border-color: #181818;
  color: #181818;
}
.social-link-item {
  width: 50px;
  margin-right: 25px;
}
.social-link-item:last-child {
  margin-right: 0;
}
.social-link_github {
  color: var(--text);
}
.social-link_github:hover {
  color: rgba(0, 0, 0, 0.8);
}
.social-link_telegram {
  color: #039be5;
}
.social-link_telegram:hover {
  color: rgba(3, 154, 229, 0.8);
}
.social-link_vk {
  color: #4d76a1;
}
.social-link_vk:hover {
  color: rgba(77, 118, 161, 0.8);
}
.social-link_facebook {
  color: #3b5998;
}
.social-link_facebook:hover {
  color: rgba(59, 88, 152, 0.8);
}
.link-email {
  color: var(--text);
  font-size: 18px;
  border-bottom: 1px solid #000000;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  -moz-transition: 0.5s;
  transition: 0.5s;
}
.link-email:hover {
  color: #039be5;
  border-color: #039be5;
}
.link-email:active {
  color: #ee8c88;
  border-color: #ee8c88;
}
@media (min-width: 768px) {
  .link-email {
    font-size: 20px;
  }
}
@media (min-width: 1200px) {
  .link-email {
    font-size: 24px;
  }
}
.header {
  padding-top: 24px;
  padding-bottom: 100px;
  overflow: hidden;
}
@media (min-width: 768px) {
  .header {
    padding-top: 23px;
    padding-bottom: 42px;
  }
}
@media (min-width: 1200px) {
  .header {
    max-width: 1600px;
    margin-right: auto;
    margin-left: auto;
    padding-top: 75px;
    padding-bottom: 237px;
    background-image: url("../img/bg/header-bg.jpg");
    background-repeat: repeat-y;
    -moz-background-size: auto;
         background-size: auto;
    background-position: center;
  }
}
.header-top {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
     -moz-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 1400px;
  padding-right: 34px;
  padding-left: 18px;
  margin-bottom: 22px;
}
@media (min-width: 768px) {
  .header-top {
    padding-right: 31px;
    padding-left: 35px;
    margin-bottom: 74px;
  }
}
@media (min-width: 1200px) {
  .header-top {
    max-width: 1400px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 145px;
    padding-right: 0;
    padding-left: 0;
  }
}
.header-logo {
  display: inline-block;
  font-weight: 900;
  font-size: 42px;
  color: var(--text);
  z-index: 1;
}
.header-nav {
  display: none;
}
@media (min-width: 768px) {
  .header-nav {
    display: none;
  }
}
@media (min-width: 1200px) {
  .header-nav {
    display: block;
  }
}
.header-nav_header-nav-link {
  position: relative;
  margin-left: 80px;
  font-weight: 700;
  font-size: 20px;
  color: var(--text);
  z-index: 1;
}
.header-nav_header-nav-link:first-child {
  margin-left: 0;
}
.header-nav_header-nav-link::after {
  content: "";
  width: 0;
  height: 6px;
  position: absolute;
  left: -5px;
  right: -5px;
  bottom: 5px;
  z-index: -1;
  background-color: var(--yellow);
  -webkit-transition: .5s;
  -o-transition: .5s;
  -moz-transition: .5s;
  transition: .5s;
}
.header-nav_header-nav-link:hover::after {
  width: 110%;
}
.header-social {
  display: none;
}
@media (min-width: 768px) {
  .header-social {
    display: none;
  }
}
@media (min-width: 1200px) {
  .header-social {
    display: block;
  }
}
.header-social-link {
  width: 30px;
  color: var(--text);
  margin-right: 20px;
}
.header-social-link:last-child {
  margin-right: 0;
}
.header-social-link_linkedin:hover {
  color: #0077b5;
  -webkit-transition: .5s;
  -o-transition: .5s;
  -moz-transition: .5s;
  transition: .5s;
}
.header-social-link_linkedin:focus {
  color: #0077b5;
}
.header-social-link_github:hover {
  color: #6cc644;
  -webkit-transition: .5s;
  -o-transition: .5s;
  -moz-transition: .5s;
  transition: .5s;
}
.header-social-link_github:focus {
  color: #6cc644;
}
.header-social-link_vk {
  width: 37px;
}
.header-social-link_vk:hover {
  color: #45668e;
  -webkit-transition: .5s;
  -o-transition: .5s;
  -moz-transition: .5s;
  transition: .5s;
}
.header-social-link_vk:focus {
  color: #45668e;
}
.content-row {
  position: relative;
  z-index: 2;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
  -webkit-flex-direction: column-reverse;
     -moz-box-orient: vertical;
     -moz-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
}
@media (min-width: 768px) {
  .content-row {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
       -moz-box-orient: horizontal;
       -moz-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
       -moz-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}
.header-desc {
  width: 50%;
}
.header-title span {
  z-index: 1;
}
.header-title h1 {
  font-size: 42px;
  font-weight: 800;
  line-height: 1.2;
  margin-bottom: 24px;
}
@media (min-width: 768px) {
  .header-title h1 {
    font-size: 52px;
    margin-bottom: 15px;
  }
}
@media (min-width: 1200px) {
  .header-title h1 {
    font-size: 90px;
  }
}
h1 .bottom-line:after {
  content: "";
  height: 12px;
  position: absolute;
  background-color: var(--yellow);
  left: -5px;
  bottom: 5px;
  z-index: -1;
}
@media (min-width: 768px) {
  h1 .bottom-line:after {
    bottom: 7px;
  }
}
@media (min-width: 1200px) {
  h1 .bottom-line:after {
    bottom: 13px;
  }
}
.header-text p {
  margin-bottom: 30px;
  width: 285px;
  font-size: 18px;
  font-weight: 500;
  color: #393f47;
  line-height: 1.6;
}
@media (min-width: 768px) {
  .header-text p {
    font-size: 18px;
    width: 331px;
  }
}
@media (min-width: 1200px) {
  .header-text p {
    font-size: 24px;
    width: 490px;
    line-height: 1.5;
  }
}
.header-buttons {
  display: none;
}
@media (min-width: 768px) {
  .header-buttons {
    display: none;
  }
}
@media (min-width: 1200px) {
  .header-buttons {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
  }
}
.header-buttons .btn {
  margin-right: 0;
}
.header-buttons .btn:last-child {
  margin-right: 20px;
}
.header-img {
  width: 100%;
  max-width: 457px;
  margin-bottom: 60px;
}
@media (min-width: 768px) {
  .header-img {
    padding-top: 0;
    max-width: 290px;
    width: 50%;
    margin-bottom: 0;
  }
}
@media (min-width: 1200px) {
  .header-img {
    padding-top: 25px;
    max-width: 457px;
  }
}
.big-img {
  position: relative;
  z-index: 1;
  margin-bottom: 104px;
}
@media (min-width: 768px) {
  .big-img {
    margin-top: -55px;
    margin-bottom: 31px;
  }
}
@media (min-width: 1200px) {
  .big-img {
    margin-top: -162px;
    margin-bottom: 0px;
  }
}
.toggle-menu {
  width: 40px;
  height: 25px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}
@media (min-width: 1200px) {
  .toggle-menu {
    display: none;
  }
}
.toggle-menu span {
  position: relative;
  display: inline-block;
  width: 100%;
  height: 5px;
  background-color: var(--text);
  -webkit-transition: .5s;
  -o-transition: .5s;
  -moz-transition: .5s;
  transition: .5s;
  z-index: 10;
}
.toggle-menu span::before,
.toggle-menu span::after {
  content: "";
  width: 100%;
  height: 5px;
  background-color: var(--text);
  position: absolute;
  -webkit-transition: .5s;
  -o-transition: .5s;
  -moz-transition: .5s;
  transition: .5s;
}
.toggle-menu span::before {
  top: -10px;
}
.toggle-menu span::after {
  bottom: -10px;
}
.toggle-menu.active span {
  background-color: transparent;
}
.toggle-menu.active span::before {
  top: 0px;
  -webkit-transform: rotate(45deg);
     -moz-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
       -o-transform: rotate(45deg);
          transform: rotate(45deg);
}
.toggle-menu.active span::after {
  bottom: 0px;
  -webkit-transform: rotate(-45deg);
     -moz-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
       -o-transform: rotate(-45deg);
          transform: rotate(-45deg);
}
#skills-content {
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
  -webkit-flex-direction: column-reverse;
     -moz-box-orient: vertical;
     -moz-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
  margin-top: -20px;
  margin-right: 40px;
}
@media (min-width: 768px) {
  #skills-content {
    margin-right: 75px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
       -moz-box-orient: horizontal;
       -moz-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
       -moz-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}
@media (min-width: 1200px) {
  #skills-content {
    margin-right: 40px;
  }
}
.skills-content-text {
  width: 100%;
  max-width: 600px;
}
@media (min-width: 768px) {
  .skills-content-text {
    width: 57%;
    max-width: 600px;
  }
}
.skills-content-text h3 {
  font-size: 30px;
  font-weight: 800;
  margin-bottom: 19px;
}
@media (min-width: 768px) {
  .skills-content-text h3 {
    font-size: 32px;
    margin-bottom: 13px;
  }
}
@media (min-width: 1200px) {
  .skills-content-text h3 {
    font-size: 40px;
    margin-bottom: 25px;
  }
}
.skills-content-text .btn {
  display: none;
}
@media (min-width: 768px) {
  .skills-content-text .btn {
    display: none;
  }
}
@media (min-width: 1200px) {
  .skills-content-text .btn {
    display: block;
    height: 64px;
    padding-left: 40px;
    padding-right: 40px;
  }
}
.skills-content-contacts {
  width: 290px;
}
@media (min-width: 768px) {
  .skills-content-contacts {
    width: 40%;
    max-width: 320px;
  }
}
.skills-content-contacts h3 {
  font-size: 30px;
  font-weight: 800;
  margin-bottom: 17px;
  margin-top: -9px;
}
@media (min-width: 768px) {
  .skills-content-contacts h3 {
    font-size: 32px;
    margin-bottom: 15px;
    margin-top: 0;
  }
}
@media (min-width: 1200px) {
  .skills-content-contacts h3 {
    font-size: 40px;
    margin-bottom: 30px;
  }
}
.skills-content-contacts .social-link {
  margin-bottom: 6px;
}
@media (min-width: 768px) {
  .skills-content-contacts .social-link {
    width: 290px;
    margin-bottom: 13px;
  }
}
@media (min-width: 1200px) {
  .skills-content-contacts .social-link {
    margin-bottom: 17px;
  }
}
.skills-content-list {
  max-width: 600px;
  margin-bottom: 40px;
}
.skills-content-list span {
  display: none;
}
@media (min-width: 768px) {
  .skills-content-list span {
    display: none;
  }
}
@media (min-width: 1200px) {
  .skills-content-list span {
    margin-right: 8px;
    display: inline-block;
    width: 20px;
    height: 2px;
    background-color: #6b6b6b;
    vertical-align: middle;
  }
}
.skills-content-list-item {
  font-size: 18px;
  margin-bottom: 3px;
  line-height: 1.6;
}
@media (min-width: 768px) {
  .skills-content-list-item {
    font-size: 18px;
    margin-bottom: 5px;
  }
}
@media (min-width: 1200px) {
  .skills-content-list-item {
    font-size: 24px;
    margin-bottom: 0;
  }
}
#section-portfolio {
  margin-right: auto;
  margin-left: auto;
  padding-top: 47px;
  padding-bottom: 92px;
  background-color: #f4f8f9;
}
@media (min-width: 768px) {
  #section-portfolio {
    padding-top: 62px;
    padding-bottom: 72px;
  }
}
@media (min-width: 1200px) {
  #section-portfolio {
    padding-top: 100px;
    padding-bottom: 81px;
  }
}
#section-portfolio .bottom-line {
  z-index: 1;
}
#section-portfolio .bottom-line::after {
  bottom: 18px;
  height: 12px;
}
#section-portfolio .title-2 {
  margin-bottom: 40px;
  font-size: 42px;
}
@media (min-width: 768px) {
  #section-portfolio .title-2 {
    font-size: 52px;
  }
}
@media (min-width: 1200px) {
  #section-portfolio .title-2 {
    font-size: 64px;
  }
}
.portfolio-button-group {
  margin-bottom: 50px;
}
.portfolio-button-item {
  display: none;
}
@media (min-width: 768px) {
  .portfolio-button-item {
    display: inline-block;
    font-size: 24px;
    margin-right: 32px;
    font-weight: 800;
    color: #8fa5ae;
  }
  .portfolio-button-item:last-child {
    margin-right: 0;
  }
  .portfolio-button-item:hover {
    color: #ed574f;
  }
}
@media (min-width: 1200px) {
  .portfolio-button-item {
    margin-right: 62px;
    font-size: 28px;
  }
}
.mixitup-control-active {
  color: #000;
}
.portfolio-projects-link {
  font-size: 20px;
  color: #039be5;
  border-bottom: 1px solid #039be5;
  line-height: 1.1;
  width: 78%;
}
@media (min-width: 768px) {
  .portfolio-projects-link {
    width: 31%;
  }
}
@media (min-width: 1200px) {
  .portfolio-projects-link {
    display: none;
  }
}
#project-card {
  margin-right: auto;
  margin-left: auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
     -moz-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}
.project-card-big {
  max-width: 556px;
  position: relative;
  display: block;
  margin-bottom: 49px;
  -webkit-transition: .5s;
  -o-transition: .5s;
  -moz-transition: .5s;
  transition: .5s;
  overflow: hidden;
}
@media (min-width: 768px) {
  .project-card-big {
    max-width: 338px;
    margin-bottom: 18px;
  }
}
@media (min-width: 1200px) {
  .project-card-big {
    max-width: 556px;
    margin-bottom: 57px;
  }
}
.project-card-big-img {
  position: relative;
  margin-bottom: 18px;
}
@media (min-width: 768px) {
  .project-card-big-img {
    margin-bottom: 30px;
  }
}
@media (min-width: 1200px) {
  .project-card-big-img {
    margin-bottom: 30px;
  }
}
.project-card-big-img button {
  position: absolute;
  padding-left: 27px;
  padding-right: 27px;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -235px);
     -moz-transform: translate(-50%, -235px);
      -ms-transform: translate(-50%, -235px);
       -o-transform: translate(-50%, -235px);
          transform: translate(-50%, -235px);
  height: 48px;
  border: 2px solid #fff;
  -webkit-border-radius: 30px;
     -moz-border-radius: 30px;
          border-radius: 30px;
  background-color: #fff;
  font-size: 22px;
  font-weight: 800;
  color: #ea736d;
  font-family: 'M PLUS 1p', sans-serif;
  z-index: 2;
  -webkit-transition: .5s;
  -o-transition: .5s;
  -moz-transition: .5s;
  transition: .5s;
}
.project-card-big-img button:hover {
  background-color: #ea736d;
  border: #ea736d;
  color: #fff;
}
.project-card-big-img button:active {
  background-color: #d4423b;
  border: #d4423b;
  color: #fff;
}
.project-card-big-img::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 0, 0.5);
  z-index: 1;
  -webkit-transform: translateX(-100%);
     -moz-transform: translateX(-100%);
      -ms-transform: translateX(-100%);
       -o-transform: translateX(-100%);
          transform: translateX(-100%);
  -webkit-transition: .5s;
  -o-transition: .5s;
  -moz-transition: .5s;
  transition: .5s;
}
.project-card-big:hover .project-card-big-img button {
  -webkit-transform: translate(-50%, -50%);
     -moz-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
       -o-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.project-card-big:hover .project-card-big-img::after {
  -webkit-transform: translateX(0);
     -moz-transform: translateX(0);
      -ms-transform: translateX(0);
       -o-transform: translateX(0);
          transform: translateX(0);
}
.project-card-big:hover .title-4 {
  position: relative;
  color: #ea736d;
}
.project-card-big:hover .title-4::after {
  content: "";
  width: 0;
  height: 1px;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ea736d;
  -webkit-transition: .5s;
  -o-transition: .5s;
  -moz-transition: .5s;
  transition: .5s;
}
.project-card-big:hover .title-4:hover::after {
  width: 100%;
}
.project-card-big h4 {
  display: inline-block;
  font-size: 22px;
  margin-bottom: 6px;
}
@media (min-width: 768px) {
  .project-card-big h4 {
    font-size: 24px;
  }
}
@media (min-width: 1200px) {
  .project-card-big h4 {
    font-size: 32px;
  }
}
.project-card-big p {
  font-size: 16px;
  font-weight: 300;
}
@media (min-width: 768px) {
  .project-card-big p {
    font-size: 18px;
  }
}
@media (min-width: 1200px) {
  .project-card-big p {
    font-size: 22px;
  }
}
.project-card-small {
  display: block;
  max-width: 360px;
  position: relative;
  overflow: hidden;
  -webkit-transition: .5s;
  -o-transition: .5s;
  -moz-transition: .5s;
  transition: .5s;
  margin-bottom: 50px;
}
.project-card-small:last-child {
  margin-bottom: 45px;
}
@media (min-width: 768px) {
  .project-card-small {
    max-width: 338px;
    margin-bottom: 45px;
  }
  .project-card-small:last-child {
    display: none;
  }
}
@media (min-width: 1200px) {
  .project-card-small {
    margin-bottom: 0;
  }
  .project-card-small:last-child {
    display: block;
  }
}
.project-card-small-img {
  position: relative;
  margin-bottom: 25px;
}
@media (min-width: 768px) {
  .project-card-small-img {
    margin-bottom: 35px;
  }
}
@media (min-width: 1200px) {
  .project-card-small-img {
    margin-bottom: 40px;
  }
}
.project-card-small-img button {
  position: absolute;
  padding-left: 27px;
  padding-right: 27px;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -200px);
     -moz-transform: translate(-50%, -200px);
      -ms-transform: translate(-50%, -200px);
       -o-transform: translate(-50%, -200px);
          transform: translate(-50%, -200px);
  height: 48px;
  border: 2px solid #fff;
  -webkit-border-radius: 30px;
     -moz-border-radius: 30px;
          border-radius: 30px;
  background-color: #fff;
  font-size: 22px;
  font-weight: 800;
  color: #ea736d;
  font-family: 'M PLUS 1p', sans-serif;
  z-index: 2;
  -webkit-transition: .5s;
  -o-transition: .5s;
  -moz-transition: .5s;
  transition: .5s;
}
.project-card-small-img button:hover {
  background-color: #ea736d;
  border: #ea736d;
  color: #fff;
}
.project-card-small-img button:active {
  background-color: #d4423b;
  border: #d4423b;
  color: #fff;
}
.project-card-small-img::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 0, 0.5);
  z-index: 1;
  -webkit-transform: translateX(-100%);
     -moz-transform: translateX(-100%);
      -ms-transform: translateX(-100%);
       -o-transform: translateX(-100%);
          transform: translateX(-100%);
  -webkit-transition: .5s;
  -o-transition: .5s;
  -moz-transition: .5s;
  transition: .5s;
}
.project-card-small:hover .project-card-small-img button {
  -webkit-transform: translate(-50%, -50%);
     -moz-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
       -o-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.project-card-small:hover .project-card-small-img::after {
  -webkit-transform: translateX(0);
     -moz-transform: translateX(0);
      -ms-transform: translateX(0);
       -o-transform: translateX(0);
          transform: translateX(0);
}
.project-card-small:hover .title-4 {
  position: relative;
  color: #ea736d;
}
.project-card-small:hover .title-4::after {
  content: "";
  width: 0;
  height: 1px;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ea736d;
  -webkit-transition: .5s;
  -o-transition: .5s;
  -moz-transition: .5s;
  transition: .5s;
}
.project-card-small:hover .title-4:hover::after {
  width: 100%;
}
.project-card-small h4 {
  display: inline-block;
  margin-bottom: 9px;
  font-size: 22px;
}
@media (min-width: 768px) {
  .project-card-small h4 {
    font-size: 24px;
    margin-bottom: 10px;
  }
}
@media (min-width: 1200px) {
  .project-card-small h4 {
    font-size: 26px;
    margin-bottom: 5px;
  }
}
.project-card-small p {
  font-size: 16px;
  font-weight: 300;
}
@media (min-width: 768px) {
  .project-card-small p {
    font-size: 18px;
  }
}
@media (min-width: 1200px) {
  .project-card-small p {
    font-size: 20px;
  }
}
.section-timeline {
  margin-right: auto;
  margin-left: auto;
  padding-top: 49px;
  padding-bottom: 91px;
}
@media (min-width: 768px) {
  .section-timeline {
    padding-top: 73px;
    padding-bottom: 114px;
  }
}
@media (min-width: 1200px) {
  .section-timeline {
    background-image: url("../img/bg/timeline-bg.jpg");
    background-repeat: repeat-y;
    -moz-background-size: auto;
         background-size: auto;
    background-position: center;
    padding-top: 126px;
    padding-bottom: 132px;
  }
}
.section-timeline .title-2 {
  margin-bottom: 43px;
  text-align: center;
  font-size: 38px;
}
@media (min-width: 768px) {
  .section-timeline .title-2 {
    font-size: 52px;
    margin-bottom: 150px;
  }
}
@media (min-width: 1200px) {
  .section-timeline .title-2 {
    font-size: 64px;
    margin-bottom: 146px;
  }
}
.section-timeline .bottom-line::after {
  bottom: 7px;
  height: 12px;
}
@media (min-width: 768px) {
  .section-timeline .bottom-line::after {
    bottom: 13px;
  }
}
@media (min-width: 1200px) {
  .section-timeline .bottom-line::after {
    bottom: 18px;
  }
}
.timeline-block_item {
  position: relative;
  width: 100%;
  padding-left: 98px;
  min-height: 180px;
}
.timeline-block_item::after {
  content: "";
  width: 4px;
  background-color: #deedf3;
  position: absolute;
  top: 94px;
  bottom: -30px;
  left: 35px;
}
@media (min-width: 768px) {
  .timeline-block_item::after {
    bottom: -16px;
  }
}
.timeline-block_item:last-child:after {
  content: none;
}
@media (min-width: 768px) {
  .timeline-block_item {
    width: 50%;
    padding-left: 68px;
  }
}
@media (min-width: 1200px) {
  .timeline-block_item {
    padding-left: 98px;
  }
}
.timeline-block_item .title-5 {
  font-size: 20px;
}
@media (min-width: 768px) {
  .timeline-block_item .title-5 {
    font-size: 24px;
  }
}
@media (min-width: 1200px) {
  .timeline-block_item .title-5 {
    font-size: 26px;
  }
}
@media (min-width: 768px) {
  .timeline-block_item:first-child:before {
    content: "";
    width: 4px;
    background-color: #e1eef4;
    position: absolute;
    top: -70px;
    bottom: 205px;
    right: -2px;
  }
}
@media (min-width: 1200px) {
  .timeline-block_item:first-child:before {
    bottom: 190px;
  }
}
@media (min-width: 768px) {
  .timeline-block_item:nth-child(even) {
    margin-left: auto;
  }
  .timeline-block_item:nth-child(even)::after {
    left: -2px;
  }
  .timeline-block_item:nth-child(even) .timeline-item-icon {
    left: -37px;
  }
}
@media (min-width: 768px) {
  .timeline-block_item:nth-child(odd) {
    padding-left: 0px;
    padding-right: 80px;
    text-align: right;
  }
  .timeline-block_item:nth-child(odd)::after {
    left: auto;
    right: -2px;
  }
  .timeline-block_item:nth-child(odd) .timeline-item-icon {
    left: auto;
    right: -37px;
  }
}
@media (min-width: 1200px) {
  .timeline-block_item:nth-child(odd) {
    padding-left: 65px;
  }
}
.timeline-block_item + .timeline-block_item {
  margin-top: 50px;
}
@media (min-width: 768px) {
  .timeline-block_item + .timeline-block_item {
    margin-top: 30px;
  }
}
@media (min-width: 1200px) {
  .timeline-block_item + .timeline-block_item {
    margin-top: 50px;
  }
}
.timeline-item_text {
  max-width: 425px;
  padding-top: 3px;
}
@media (min-width: 768px) {
  .timeline-item_text {
    padding-top: 20px;
  }
}
.timeline-item_text h4 {
  padding-bottom: 11px;
}
.timeline-item_text p {
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 13px;
  line-height: 1.2;
}
@media (min-width: 768px) {
  .timeline-item_text p {
    font-size: 16px;
  }
}
@media (min-width: 1200px) {
  .timeline-item_text p {
    font-size: 18px;
  }
}
.timeline-item_text p:last-child {
  font-size: 14px;
  font-weight: 700;
  margin-bottom: 0;
}
@media (min-width: 768px) {
  .timeline-item_text p:last-child {
    font-size: 18px;
  }
}
.timeline-item_text .bottom-line::after {
  display: none;
}
@media (min-width: 1200px) {
  .timeline-item_text .bottom-line::after {
    bottom: 2px;
    height: 7px;
    display: inline-block;
  }
}
.timeline-item_text:hover {
  cursor: pointer;
}
.timeline-item_text:hover .bottom-line::after {
  -webkit-transition: .5s;
  -o-transition: .5s;
  -moz-transition: .5s;
  transition: .5s;
  background-color: #ea736d;
}
.timeline-item-icon {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  left: 0;
  top: 0;
  width: 74px;
  height: 74px;
  -webkit-border-radius: 28px;
     -moz-border-radius: 28px;
          border-radius: 28px;
  background-color: #fff;
  -webkit-box-shadow: 0px 3px 35px 0px rgba(0, 112, 187, 0.35);
     -moz-box-shadow: 0px 3px 35px 0px rgba(0, 112, 187, 0.35);
          box-shadow: 0px 3px 35px 0px rgba(0, 112, 187, 0.35);
}
.timeline-item-icon svg {
  width: 40px;
  margin: 0 auto;
}
.timeline-item-icon svg .ic-1 {
  fill: #ffcf8f;
}
.timeline-item-icon svg .ic-2 {
  fill: #ff5b5b;
}
.timeline-item-icon svg .ic-3 {
  fill: #ac74ee;
}
.timeline-item-icon svg .ic-4 {
  fill: #51e5cb;
}
.timeline-item-icon svg .ic-5 {
  fill: #8dc8ff;
}
#section-contacts {
  background-image: url("../img/bg/contacts-bg.jpg");
  background-color: #f4f8f9;
  background-repeat: repeat-y;
  -moz-background-size: auto;
       background-size: auto;
  background-position: center;
  padding-bottom: 62px;
  padding-top: 43px;
  margin-right: auto;
  margin-left: auto;
}
@media (min-width: 768px) {
  #section-contacts {
    padding-top: 70px;
    padding-bottom: 83px;
  }
}
@media (min-width: 1200px) {
  #section-contacts {
    padding-top: 125px;
    padding-bottom: 148px;
  }
}
#section-contacts .title-2 {
  text-align: center;
  margin-bottom: 35px;
  font-size: 42px;
}
@media (min-width: 768px) {
  #section-contacts .title-2 {
    margin-bottom: 58px;
    font-size: 52px;
  }
}
@media (min-width: 1200px) {
  #section-contacts .title-2 {
    font-size: 64px;
  }
}
#section-contacts .title-2 .bottom-line::after {
  bottom: 18px;
  height: 12px;
}
@media (min-width: 768px) {
  .contacts-content-row {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
       -moz-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}
.contacts-desc {
  margin-top: 20px;
  max-width: 292px;
}
@media (min-width: 768px) {
  .contacts-desc {
    margin-top: -5px;
  }
}
@media (min-width: 1200px) {
  .contacts-desc {
    margin-top: 20px;
    max-width: 510px;
  }
}
.contacts-desc p {
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 7px;
}
@media (min-width: 768px) {
  .contacts-desc p {
    font-size: 18px;
    margin-bottom: 40px;
  }
}
@media (min-width: 1200px) {
  .contacts-desc p {
    font-size: 20px;
    margin-bottom: 45px;
  }
}
.contacts-content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 95px;
}
@media (min-width: 768px) {
  .contacts-content {
    margin-bottom: 276px;
  }
}
@media (min-width: 1200px) {
  .contacts-content {
    margin-bottom: -50px;
  }
}
.contacts-text {
  max-width: 470px;
  position: absolute;
}
@media (min-width: 768px) {
  .contacts-text {
    max-width: 342px;
    line-height: 1.2;
  }
}
@media (min-width: 1200px) {
  .contacts-text {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
       -moz-box-orient: vertical;
       -moz-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    max-width: 470px;
  }
}
.contacts-text_item {
  margin-bottom: 11px;
}
@media (min-width: 768px) {
  .contacts-text_item {
    margin-bottom: 23px;
  }
}
@media (min-width: 1200px) {
  .contacts-text_item {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
  }
}
.contacts-text_item:last-child {
  margin-bottom: 0;
}
.contacts-text_item span {
  display: inline-block;
  font-size: 18px;
  font-weight: 700;
  margin-right: 250px;
  width: 90px;
}
@media (min-width: 768px) {
  .contacts-text_item span {
    font-size: 18px;
    margin-right: 106px;
  }
}
@media (min-width: 1200px) {
  .contacts-text_item span {
    font-size: 20px;
  }
}
.contacts-text_item a {
  font-size: 18px;
  font-weight: 500;
}
@media (min-width: 768px) {
  .contacts-text_item a {
    font-size: 18px;
  }
}
@media (min-width: 1200px) {
  .contacts-text_item a {
    font-size: 20px;
  }
}
.contacts-text_item a {
  color: #039be5;
}
.contacts-text_item a:hover {
  color: #ea736d;
}
.contacts-text_item .adress {
  color: #96969d;
  margin-bottom: 0;
}
.form-wrapper {
  margin-right: 20px;
}
.contact-form {
  width: 510px;
  background-color: #fff;
  -webkit-box-shadow: 0px 3px 35px 0px rgba(0, 112, 187, 0.35);
     -moz-box-shadow: 0px 3px 35px 0px rgba(0, 112, 187, 0.35);
          box-shadow: 0px 3px 35px 0px rgba(0, 112, 187, 0.35);
}
@media (min-width: 768px) {
  .contacts-content_img {
    display: none;
  }
}
@media (min-width: 1200px) {
  .contacts-content_img {
    position: relative;
    max-width: 450px;
    left: -300px;
    top: -137px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
       -moz-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
.move-quot {
  display: none;
}
@media (min-width: 1200px) {
  .move-quot {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    opacity: .5;
    max-width: 283px;
  }
}
.contact-form {
  margin-top: 44px;
  padding-top: 15px;
  padding-bottom: 42px;
  padding-left: 15px;
  width: 291px;
  background-color: #fff;
  -webkit-box-shadow: 0px 3px 35px 0px rgba(0, 112, 187, 0.35);
     -moz-box-shadow: 0px 3px 35px 0px rgba(0, 112, 187, 0.35);
          box-shadow: 0px 3px 35px 0px rgba(0, 112, 187, 0.35);
}
@media (min-width: 768px) {
  .contact-form {
    margin-top: 0;
    padding-left: 26px;
    padding-bottom: 40px;
    width: 339px;
    margin-right: -30px;
  }
}
@media (min-width: 1200px) {
  .contact-form {
    padding-left: 60px;
    width: 510px;
    margin-right: 0;
  }
}
.form-item {
  position: relative;
  margin-top: 30px;
}
@media (min-width: 768px) {
  .form-item {
    margin-top: 25px;
  }
}
@media (min-width: 1200px) {
  .form-item {
    margin-top: 50px;
  }
}
.form-item .form-field {
  width: 260px;
  border: 0;
  border-bottom: 2px solid #bcbcbc;
  height: 50px;
  font-size: 20px;
  font-weight: 700;
}
@media (min-width: 768px) {
  .form-item .form-field {
    width: 290px;
  }
}
@media (min-width: 1200px) {
  .form-item .form-field {
    width: 390px;
  }
}
.form-item textarea.form-field {
  height: 120px;
}
.form-item:first-child {
  margin-top: 49px;
}
@media (min-width: 1200px) {
  .form-item:first-child {
    margin-top: 60px;
  }
}
.form-item:last-child {
  margin-top: 20px;
  -webkit-align-self: start;
      -ms-flex-item-align: start;
          align-self: start;
  left: 5px;
}
@media (min-width: 768px) {
  .form-item:last-child {
    left: -7px;
  }
}
@media (min-width: 1200px) {
  .form-item:last-child {
    left: 0;
    margin-top: 40px;
  }
}
.form-item .btn {
  height: 47px;
  padding-left: 63px;
  padding-right: 63px;
}
@media (min-width: 768px) {
  .form-item .btn {
    height: 64px;
    padding-left: 90px;
    padding-right: 90px;
  }
}
@media (min-width: 1200px) {
  .form-item .btn {
    padding-left: 40px;
    padding-right: 40px;
  }
}
.fake-placeholder {
  position: absolute;
  top: 8px;
  left: 2px;
  font-size: 20px;
  font-weight: 700;
  color: #bcbcbc;
  -webkit-transition: .5s;
  -o-transition: .5s;
  -moz-transition: .5s;
  transition: .5s;
  pointer-events: none;
}
.fake-placeholder.active {
  top: -25px;
  color: #ed9626;
  font-size: 20px;
  font-weight: 700;
}
label.error {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  font-size: 14px;
  font-weight: 700;
  color: red;
}
.section-footer {
  padding-top: 25px;
  padding-bottom: 40px;
  background-color: #333333;
}
.footer-copyright {
  margin-bottom: 10px;
  color: #ffffff;
  font-size: 18px;
  font-weight: 500;
}
.footer-text {
  color: #959595;
  margin-bottom: 2px;
  font-size: 16px;
}
.footer-text:last-child {
  margin-bottom: 0;
}
.mobile-menu {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  max-width: 320px;
  background-color: #fff;
  z-index: 5;
  -webkit-transform: translateX(100%);
     -moz-transform: translateX(100%);
      -ms-transform: translateX(100%);
       -o-transform: translateX(100%);
          transform: translateX(100%);
  -webkit-transition: .5s;
  -o-transition: .5s;
  -moz-transition: .5s;
  transition: .5s;
  padding-top: 35px;
  padding-left: 28px;
}
@media (min-width: 1200px) {
  .mobile-menu {
    display: none;
  }
}
.mobile-menu.active {
  -webkit-transform: translateX(0);
     -moz-transform: translateX(0);
      -ms-transform: translateX(0);
       -o-transform: translateX(0);
          transform: translateX(0);
}
.mobile-menu .header-logo {
  margin-bottom: 40px;
}
.mobile-menu_nav {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 45px;
}
.mobile-menu_nav-link {
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 20px;
  color: var(--text);
  border-bottom: 1px solid #000000;
  width: 75px;
  line-height: 1.1;
}
.mobile-menu_nav-link:last-child {
  width: 100px;
  margin-bottom: 0;
}
.mobile-menu .social-link-item {
  margin-right: 16px;
}
.mobile-menu .social-link {
  margin-bottom: 40px;
}
.mobile-menu_nav-email {
  font-size: 18px;
  color: #039be5;
  border-bottom: 1px solid #039be5;
  line-height: 1.1;
}
.mobile-menu_nav-email:hover {
  border-color: var(--text);
}
/*# sourceMappingURL=main.css.map */