.contact-form {
    padding-top: 15px;
    padding-bottom: 40px;
    padding-left: 60px;
    width: 510px;
    background-color: #fff;
    box-shadow: 0px 3px 35px 0px rgba(0, 112, 187, 0.35);
}

.form-item {
    position: relative;
    margin-top: 50px;

    .form-field {
        width: 390px;
        border: 0;
        border-bottom: 2px solid #bcbcbc;
        height: 50px;
        font-size: 20px;
        font-weight: 700;
    }

    textarea.form-field {
        height: 120px;
    }

    &:first-child {
        margin-top: 60px;
    }

    &:last-child {
        left: 55px;
        margin-top: 40px;
        align-self: start;
    }
}

.fake-placeholder {
    position: absolute;
    top: 8px;
    left: 2px;
    font-size: 20px;
    font-weight: 700;
    color: #bcbcbc;
    transition: .5s;
    pointer-events: none;
}

.fake-placeholder.active {
    top: -25px;
    color: #ed9626;
    font-size: 20px;
    font-weight: 700;
}

label.error {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    font-size: 14px;
    font-weight: 700;
    color: red;
}
