.header {
    padding-top: 24px;
    padding-bottom: 100px;
    overflow: hidden;

    @media(min-width:768px) {
        padding-top: 23px;
        padding-bottom: 42px;
    }

    @media(min-width:1200px) {
        max-width: 1600px;
        margin-right: auto;
        margin-left: auto;
        padding-top: 75px;
        padding-bottom: 237px;
        background-image: url("../img/bg/header-bg.jpg");
        background-repeat: repeat-y;
        background-size: auto;
        background-position: center;
    }
}

.header-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1400px;
    padding-right: 34px;
    padding-left: 18px;
    margin-bottom: 22px;

    @media(min-width:768px) {
        padding-right: 31px;
        padding-left: 35px;
        margin-bottom: 74px;
    }

    @media(min-width:1200px) {
        max-width: 1400px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 145px;
        padding-right: 0;
        padding-left: 0;
    }
}

.header-logo {
    display: inline-block;
    font-weight: 900;
    font-size: 42px;
    color: var(--text);
    z-index: 1;
}

.header-nav {
    display: none;

    @media(min-width:768px) {
        display: none;
    }

    @media(min-width:1200px) {
        display: block;
    }
}


.header-nav_header-nav-link {
    position: relative;
    margin-left: 80px;
    font-weight: 700;
    font-size: 20px;
    color: var(--text);
    z-index: 1;

    &:first-child {
        margin-left: 0;
    }

    &::after {
        content: "";
        width: 0;
        height: 6px;
        position: absolute;
        left: -5px;
        right: -5px;
        bottom: 5px;
        z-index: -1;
        background-color: var(--yellow);
        transition: .5s;
    }

}


.header-nav_header-nav-link:hover::after {
    width: 110%;
}

.header-social {
    display: none;

    @media(min-width:768px) {
        display: none;
    }

    @media(min-width:1200px) {
        display: block;
    }
}


.header-social-link {
    width: 30px;
    color: var(--text);
    margin-right: 20px;

    &:last-child {
        margin-right: 0;
    }
}

.header-social-link_linkedin {

    &:hover{
        color: #0077b5;
        transition: .5s;
    }

    &:focus {
        color: #0077b5;
    }
}

.header-social-link_github {

    &:hover{
        color: #6cc644;
        transition: .5s;
    }

    &:focus {
        color: #6cc644;
    }
}

.header-social-link_vk {
    width: 37px;

    &:hover{
        color: #45668e;
        transition: .5s;
    }

    &:focus {
        color: #45668e;
    }
}


.toggle-menu {
    
}

.content-row {
    position: relative;
    z-index: 2;
    display: flex;
    flex-direction: column-reverse;

    @media(min-width:768px) {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    @media(min-width:1200px) {

    }
}

.header-desc {
    width: 50%;
}

.header-title span {
    z-index: 1;
}

.header-title h1 {
    font-size: 42px;
    font-weight: 800;
    line-height: 1.2;
    margin-bottom: 24px;

    @media(min-width:768px) {
        font-size: 52px;
        margin-bottom: 15px;
    }

    @media(min-width:1200px) {
        font-size: 90px;
    }
}

h1 .bottom-line:after {
    content: "";
    height: 12px;
    position: absolute;
    background-color: var(--yellow);
    left: -5px;
    bottom: 5px;
    z-index: -1;
            
    @media(min-width:768px) {
        bottom: 7px;
    }

    @media(min-width:1200px) {
        bottom: 13px;
    }
}

.header-text p {
    margin-bottom: 30px;
    width: 285px;
    font-size: 18px;
    font-weight: 500;
    color: #393f47;
    line-height: 1.6;
                
    @media(min-width:768px) {
        font-size: 18px;
        width: 331px;
    }

    @media(min-width:1200px) {
        font-size: 24px;
        width: 490px;
        line-height: 1.5;
    }
}

.header-buttons {
    display: none;
                
    @media(min-width:768px) {
        display: none;
    }

    @media(min-width:1200px) {
        display: flex;
    }
}

.header-buttons .btn {
    margin-right: 0;

    &:last-child {
        margin-right: 20px;
    }
}

.header-img {
    width: 100%;
    max-width: 457px;
    margin-bottom: 60px;
                
    @media(min-width:768px) {
        padding-top: 0;
        max-width: 290px;
        width: 50%;
        margin-bottom: 0;
    }

    @media(min-width:1200px) {
        padding-top: 25px;
        max-width: 457px;
    }
}

.big-img {
    position: relative;
    z-index: 1;
    margin-bottom: 104px;

    @media(min-width:768px) {
        margin-top: -55px;
        margin-bottom: 31px;
    }

    @media(min-width:1200px) {
        margin-top: -162px;
        margin-bottom: 0px;
    }
}
