.section-contacts {
    background-color: #f4f8f9;
    padding-top: 125px;
    padding-bottom: 125px;
    margin-right: auto;
    margin-left: auto;
}

.section-contacts .title-2 {
    text-align: center;
    margin-bottom: 65px;

    .bottom-line::after {
        bottom: 18px;
        height: 12px;
    }
}
    
.contacts-content-row {
    display: flex;
    justify-content: space-between;
}

.contacts-desc {
    max-width: 510px;
}

.contacts-desc p {
    font-size: 20px;
    line-height: 1.5;
    margin-bottom: 45px;
}

.contacts-content {
    display: flex;
    margin-bottom: 45px;
}

.contacts-text {
    position: absolute;
    width: 185px;
}

.contacts-text_item {
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 30px;

    &:last-child {
        margin-bottom: 0;
    }
}

.contacts-links {

}

.contacts-link_item {
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 30px;

    &:last-child {
        margin-bottom: 0;
    }
}

.contacts-link_item a {
    color: #039be5;

    &:hover {
        color: #ea736d;
    }
}

.contacts-link_item.adress {
    color: #96969d;
}

.contact-form {
    width: 510px;
    background-color: #fff;
    box-shadow: 0px 3px 35px 0px rgba(0, 112, 187, 0.35);
}

.contacts-content_img {
    position: relative;
    max-width: 450px;
    left: -300px;
    top: -137px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.move-quot {
    position: absolute;
    top: 0;
    left: 0;
    // transform: translate(-50%, -50%);
    opacity: .5;
    max-width: 283px;
}